@use "./variables.scss" as *;
@use "./effect/overlay.scss";
@use "./section/app_update.scss";
@use "./section/splash_screen.scss";
@use "./section/cookie.scss";
@use "./section/home_menu.scss";
@use "./section/waiting.scss";
@use "./modal.scss";
@use "sass:color";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  user-select: none;
  background: linear-gradient(to bottom, $layout, $layout-dark);
}

.google {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-family: "MedievalSharp", cursive;
  border: 0.5px solid $text-color-dark;
  text-shadow: 1px 1px 0.5px $text-color-dark;
  background-color: $layout-dark;
  color: $text-color;
  cursor: pointer;
  transition: all 0.08s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
}

a {
  color: $text-color-dark;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  
  &:hover {
    color: color.adjust($text-color-dark, $lightness: -10%);

    &::after {
      transform: scaleX(1);
    }
  }
}

@keyframes slideInEnd {
  from {
    transform: translateY(0);
  }
  
  to {
    transform: translateY(100%);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  
  to {
    transform: translateY(0);
  }
}