
// LAYOUT
$layout: #fffbde;
$layout-dark: #fbf0c1;

$color-sandybrown: #f4a460;
$color-chocolate: #d2691e;

// TEXT
$text-color-shadow: #555;
$text-color-white: #fff;
$text-color: #fdd388;
$text-color-dark: #7c3d18;
$text-color-chocolate: #4b2e16;

// buttons 
$btn-secondary-bg: #b08968;
$btn-secondary-hover-bg: #8d6e54;
$btn-primary-bg: #f4a261;
$btn-primary-hover-bg: #e76f51;