---
import { $show_banner, $hide_banner, $show_video } from "@js/admob";
---

<!DOCTYPE html>
<html>/
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Cookie</title>
</head>
  <body>

    <button onclick="{$show_banner}">Mostrar Banner</button>
    <button onClick="{$show_banner}">Mostrar Banner</button>
 
</html>