/* desgner */

:root {
  --layout: #FEE7BD;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  user-select: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--layout);
}