/* 
 By Sebastian Jn <sebastianjnuwu@gmail.com>
*/

:root {
	--layout: #fee7bd;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	user-select: none;
	font-family: "Roboto", sans-serif;
	background-color: var(--layout);
}